.navbar{
    list-style: none;
    display: flex;
    background-color: black;
    margin: auto;
}

.navbar li{
    padding: 14px 18px;
    overflow: hidden;
    margin: auto;
  }
  .navbar a {
    color: white;
    text-decoration: none;
    font-size: 34px;
  }
  .navbar img{
    width: 5%;
    margin-right: 100px;
    padding: 14px 18px;
    background-color: black;
  }
  

  .navbar a:hover {
    background-color: #ddd;
    color: black;
  }
  
  .navbar a.active {
    background-color: #04AA6D;
    color: white;
  }

#Search{
    margin-top: auto;
    margin-bottom: auto;
    font-size: 75%;
}

#login{
    font-size: 50%;
}










  